<h1>Welcome to Fugue Flow</h1>

<section>
    <% if current_user %>
      <div>
        <h2> Lets continue your Journal <%= current_user.username %>!</h2>
       
      </div>
      
    <% else %>
      <div>
        <%= link_to 'Sign In', login_path %>
        <%= link_to 'Register', register_path %>
      </div>
    <% end %>
  </section>


